SECRET_KEY=dev-ferrari-sale-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=ferrari_sale
POSTGRES_USER=ferrari
POSTGRES_PASSWORD=ferrari123
POSTGRES_HOST=db
POSTGRES_PORT=5432

PROMETHEUS_REMOTE_WRITE_URL=https://prometheus-prod-XX.grafana.net/api/prom/push
PROMETHEUS_USERNAME=SEU_INSTANCE_ID
PROMETHEUS_PASSWORD=glc_SEU_TOKEN_AQUI

LOKI_URL=https://logs-prod-XX.grafana.net/loki/api/v1/push
LOKI_USERNAME=SEU_INSTANCE_ID
LOKI_PASSWORD=glc_SEU_TOKEN_AQUI

TEMPO_OTLP_ENDPOINT=https://otlp-gateway-prod-XX.grafana.net/otlp
TEMPO_USERNAME=SEU_INSTANCE_ID
TEMPO_PASSWORD=glc_SEU_TOKEN_AQUI