APP_UID=1000
APP_GID=1000

PROMETHEUS_REMOTE_WRITE_URL=https://prometheus-prod-XX.grafana.net/api/prom/push
PROMETHEUS_USERNAME=SEU_INSTANCE_ID
PROMETHEUS_PASSWORD=glc_SEU_TOKEN_AQUI

LOKI_URL=https://logs-prod-XX.grafana.net/loki/api/v1/push
LOKI_USERNAME=SEU_INSTANCE_ID
LOKI_PASSWORD=glc_SEU_TOKEN_AQUI

TEMPO_OTLP_ENDPOINT=https://otlp-gateway-prod-XX.grafana.net/otlp
TEMPO_USERNAME=SEU_INSTANCE_ID
TEMPO_PASSWORD=glc_SEU_TOKEN_AQUI
