POSTGRES_DB=grafana_o11y
POSTGRES_USER=grafana
POSTGRES_PASSWORD=grafana
DATABASE_URL=postgresql://grafana:grafana@postgres:5432/grafana_o11y

GRAFANA_CLOUD_OTLP_ENDPOINT=https://SEU-ENDPOINT-OTLP-AQUI
GRAFANA_CLOUD_INSTANCE_ID=SEU-INSTANCE-ID-AQUI
GRAFANA_CLOUD_API_KEY=SEU-TOKEN-AQUI
